*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #e3e3e3;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

header .btn-contato button, .hero-site button{
    font-size: 18px;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
    transition: .5s;  /* tempo que sai a parte blanca   */ 
    
 }
 

/* estilo do geader */
header{
    width: 100%;
    padding: 40px 0;
    position: fixed;
    top: 0;
    left: 0;

}
header .interface{
    display: flex;
    justify-content: space-between; /* cada um no seu canto */
    align-items: center;
}

header .logo img{
    max-width: 100px;
}

header .menu-desktop nav ul{
    list-style-type: none; /* tira a bolinha */
}

header .menu-desktop nav ul li{
    display: inline-block;
    margin: 0 40px; /* clia o espaço */
}

header .menu-desktop nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none; /* tira a linha de baixo */ 
    display: inline-block;  /* faz acontecer o zoom  */ 
    transition: 2s;
}

.menu-desktop nav a:hover{
    transform: scale(1.05);

}
header .btn-contato button{
    width: 140px;
    height: 50px;

}


header .btn-contato button:hover, .hero-site button:hover{
    background-color: #ffffff;
    color: #000;
    
}

/* estilo do hero foto */

section.hero-site{
    height: 100vh;
    background-image: url(../images/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;

}
.hero-site .interface{
display: flex;
align-items: center;
height: 100%;

}

.hero-site .txt-hero h1{
    font-size: 4em;
    line-height: 70px;
    font-weight: 200;   /*troca a fote caso queira que fucionee */

}
.hero-site .txt-hero h1 span{
    display: block;
    font-weight: 800;
}

.hero-site .txt-hero p{
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
}

.hero-site .txt-hero p span{
    display: block;

}

.hero-site button{
    width: 220px;
    height: 60px;
    font-size: 20px;
}

/* estilos das vantagens */

section.vantagens{
    padding: 80px 0;

}

.vantagens .itens-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 60px;
}

.vantagens .itens-container .img-intens img{
    max-width: 480px;     /* tamnho da foto */
}

.vantagens .itens-container .img-intens h3{
    font-size: 3rem;
    line-height: 50px;
    margin-bottom: 20px;
    

}

.itens-container .img-intens h3 span{
    font-weight: 700;
}

/* estilo dos botões de contato */
section.contato{
    background-color: #fff;
    padding: 80px 0;
}

.txt-contato, .icons-contato{
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: middle;
}

.contato .txt-contato h3{
    font-size: 2.5em;
    line-height: 50px;
    font-weight: 300;
    margin-bottom: 20px;

}
.contato .txt-contato h3 span{
    display: block;
    font-weight: 700;
}

.contato .icons-contato a{
    text-decoration: none;
}

.contato .icons-contato button{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 60%;
    height: 60px;
    margin: 0 auto 20px auto;
    padding: 0 60px;
    border: 2px solid #000;
    cursor: pointer;

    transition: .5s;
}

.contato .icons-contato button i{
    font-size: 24px;
}

.contato .icons-contato button:hover{
    background-color: #000;
}

.contato .icons-contato button:hover i, .contato .icons-contato button:hover p{
    color: #fff;
}